  {% if field.label %}
    <label for="validationServer" {% if style.hide_label %}class="sr-only"{% endif %}>{{ field.label }} {% if field.required %} <span class="required text-danger text-end">*</span>{% endif %}</label>
  {% endif %}

  <input name="{{ field.name }}" id="validationServer" class="form-control" type="{{ style.input_type }}" {% if style.placeholder %} placeholder="{{ style.placeholder }}" {% endif %} {% if field.name == "phone" %} pattern="^(\+7)[\d\- ]{10}$" {% endif %} {% if field.max_length %} maxlength="{{field.max_length}}" {% endif %} {% if field.required %}required{% endif %}/>

  {% if field.errors %}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  {% endif %}
